.popupContainer {
  border: solid 1px #929292;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.6);
  color: black;
  border-radius: 10px;
  box-shadow: 1px 1px 3px #c2bebe;
  display: inline-flex;
  align-items: center;
  overflow: hidden;
  position: absolute;
  margin: 1rem;
}

.popupThumbnail {
  /* border: dashed 1px red; */
  margin: 0.5rem;
  border-radius: 5px;
  object-fit: cover;
  min-height: 70px;
  min-width: 70px;
  max-height: 100px;
  max-width: 100px;
}

.popupContentContainer {
  padding: 0.5rem;
}
.popupContent {
  line-height: 1.25rem;
  font-size: 0.85rem;
}

.popupTitle {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
}

.popupTop {
  top: 1rem;
  /* left: 1rem; */
}

.popupBottom {
  top: 100%;
  /* transform: translate(1rem, calc(-100% - 1rem)); */
  transform: translateY(calc(-100% - 2rem));
}
