.popupContainer {
  border: solid 1px #c2bebe;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  border-radius: 10px;
  box-shadow: 1px 1px 3px #c2bebe;
  display: inline-flex;
  align-items: center;
  overflow: hidden;
}

.popupThumbnail {
  /* border: dashed 1px red; */
  margin: 0.5rem;
  border-radius: 5px;
  object-fit: cover;
  min-height: 100px;
  min-width: 100px;
  max-height: 200px;
  max-width: 200px;
}

.popupContentContainer {
  padding: 0.5rem;
}
.popupContent {
  line-height: 1.25rem;
}

.popupTitle {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
}
