.popupContainer {
  border: solid 1px #929292;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.6);
  color: black;
  border-radius: 10px;
  box-shadow: 1px 1px 3px #c2bebe;
  display: inline-flex;
  align-items: center;
  overflow: hidden;
  position: absolute;
  margin: 1rem;
  width: calc(100% - 2rem);
}

.popupThumbnail {
  /* border: dashed 1px red; */
  margin: 0.5rem;
  border-radius: 5px;
  object-fit: cover;
  min-height: 70px;
  min-width: 70px;
  max-height: 100px;
  max-width: 100px;
}

.popupContentContainer {
  padding: 0.5rem;
}
.popupContent {
  line-height: 1.25rem;
  font-size: 0.85rem;
}

.popupTitle {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
}

.popupTop {
  top: 0;
  /* left: 1rem; */
}

.popupBottom {
  bottom: 0;
  /* transform: translate(1rem, calc(-100% - 1rem)); */
  /* transform: translateY(calc(-100% - 2rem)); */
}

.opening {
  animation: popup-display 500ms linear;
}

@keyframes popup-display {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
